<head>
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
  <script defer src="assets/js/script.js"></script>
</head>
<!-- Run init function on load -->
<body onload="init()">
  <div class="root">
    <button class="arrow-button" id="prev-arrow">&#10094;</button>
    <div class="slideshow-container">
      <div class="slides" id="slides">
        <!-- script generates the slides here -->
      </div>
      <div id="dots">
        <!-- script generates the dots here depending on the slide number -->
      </div>
    </div>
    <button class="arrow-button" id="next-arrow">&#10095;</button>
  </div>
</body>
