@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-container {
  position: relative;
  margin: 2rem;
}

.slide-container {
  display: none;
  opacity: 0;
  padding: 2rem;
  box-shadow: 2px silver;
  background: white;
  min-height: 620px;
  max-width: 780px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: 0.395s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-container-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-container-visible {
  opacity: 1;
}

.slide-image {
  width: 100%;
  border-radius: 3px;
}

.slide-title {
  text-align: center;
}

.slide-synopsis {
  line-height: 1.5em;
  margin: 0;
  padding: 1rem;
}

.slide-link {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  max-width: 150px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: white;
  background-color: #0064ff;
  font-weight: 700;
  display: block;
  margin: 1rem auto 2rem auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.195s all cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-link:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.15);
  background-color: rgb(22, 114, 253);
}

#dots {
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
  padding: 1rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgrey;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active {
  background-color: lightgrey;
}

.dot:hover {
  background-color: lightgrey;
}

.arrow-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: lightgrey;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: whitesmoke;
}
